* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: system-ui, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #2d1942;
    color: #ddd;
    padding: 1rem;
}

.linkfeed__title {
    font-size: 1rem;
    text-transform: uppercase;
}

.linkpost {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #3d3d3d;
    padding: 1rem;
}

.linkpost a {
    padding-top: 0.5rem;
    color: skyblue;
    text-decoration: none;
}

.linkpost__date {
    font-size: 0.7rem;
    color: grey;
    margin: 0;
}

.details summary {
    color: skyblue;
    text-decoration: none;
}